.comments {
    margin-top: 20px;
    background-color: #eef2f5;
    padding: 20px;
    //OVO JE NAKNADNO DODATO
    width: 50%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .comments-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .comments-container {
    margin-top: 40px;
  }
  
  .comment-form-title {
    font-size: 22px;
  }
  
  .comment-form-textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 8px;
    margin-top: 8px;
    border: 1px solid rgb(107, 114, 12);
  }
  
  .comment-form-button {
    background-color: #56575b;
         border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: .25rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
         box-sizing: border-box;
        color: rgba(0, 0, 0, 0.85);
        cursor: pointer;
         display: inline-flex;
         text-decoration: none;
         text-align: center;
         justify-content: center;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 140px;
  margin: 0 15px;

  &:hover,
  &:focus{
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }
  &:hover{
    transform: translateY(-4px);
    background-color: #aaaaaa;
    color: white;
  }
  &:active{
    background-color: rgba(122, 145, 152, 0.667);
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.9) 0 2px 4px;
  color: rgba(0, 0, 0);
  transform: translateY(0);
  }
  }
  
 
  
  .comment-form-cancel-button {
    margin-left: 10px;
  }
  


  .comment {
    display: flex;
    margin-bottom: 28px;
    //height: 130px;
    width: 450px;
	background-color: white;
	border-radius: 4px;
	box-shadow: 10px 10px 5px #aaaaaa;
  }
  
  .comment-image-container {
    //margin-right: 12px;
  }
  
  .comment-image-container img {
    border-radius: 50px;
  }
  
  .comment-right-part {
    width: 100%;
  }
  
  .comment-content {
    display: flex;
  }
  
  .comment-author {
    margin-right: 8px;
    font-size: 20px;

    //font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
    color: #56575b;

  }
  
  .comment-text {
    font-size: 20px;
    //font-size: 13px;
    border-bottom: 1px solid #56575b;
    font-weight: 500;
    color: #56575b;
    padding: 10px;
    margin: 0;
  }
  
  .comment-actions {
    display: flex;
    font-size: 12px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    margin-top: 8px;
  }
  
  .comment-action {
    margin-right: 8px;
  }
  
  .comment-action:hover {
    text-decoration: underline;
  }
  
  .replies {
    margin-top: 20px;
  }